h1 {
    font-family: Calibri sans-serif;
}
h2 {

}
body {
    margin: 0;
    background: green;
    font-family: Calibri sans-serif;
    font-weight: 300;


}

.myimg1 {
    border-style: solid;
    text-align: right;
    float: right;
    margin-left: 50px;
}
#myimg2 {
    float: right;
}

#myDiv1 {
    border: 5px outset blue;
    background-color: lightblue;
    text-align: center;
}

.logo{
    float: right;
    padding: 10px 0;

}

#intro {
    background-color: black;
    font-family: Calibri sans-serif;
    float: right;
}
tr {
    font-family: Calibri, sans-serif;
;
}


td {
    font-family: Calibri, serif ;
    font-size: x-large;
}
img{
    box-sizing: border-box;
    margin: 100px auto;
}
#container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: deepskyblue ;
}
header::after{
    content: '';
    display: table;
    clear: both;
}


nav{
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}
nav a:hover{
    color: #000;

}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: green;

    position: absolute;
    top: 0;
    width: 0;
}

nav a:hover::before{
    width: 100%;

}

